language: bash

sudo: false

addons:
  apt:
    sources:
      - debian-sid
    packages:
      - shellcheck

script:
  - shellcheck --exclude=SC1008,SC1090,SC2034 oyster
  - ./install
  - source ~/.oysterc
  - oyster

matrix:
  fast_finish: true

notifications:
  slack: oyster-script:TnRlNv7rAjivm3h4Y9h8oAiT

after_success:
  - bash <(curl -s https://codecov.io/bash)
